body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
}

.scene {
  position: relative;
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  top: 40%;
  color: white;
}

.moon {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cloud {
  position: absolute;
  width: 120px;
  height: 60px;
  background: white;
  border-radius: 50px;
  opacity: 0.5;
}

.cloud1 { animation: moveClouds 60s linear infinite; }
.cloud2 { animation: moveClouds 80s linear infinite; }

@keyframes moveClouds {
  to { transform: translateX(120vw); }
}

.petal {
  position: absolute;
  width: 15px;
  height: 15px;
  background: pink;
  border-radius: 50%;
  animation: fall linear infinite;
}

@keyframes fall {
  to { transform: translateY(110vh); }
}

.spark {
  position: absolute;
  width: 6px;
  height: 6px;
  background: yellow;
  border-radius: 50%;
}

.envelope {
  position: absolute;
  bottom: 20%;
  font-size: 3rem;
  cursor: pointer;
}

.letter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fffaf0;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  display: none;
  opacity: 0;
  transition: 0.5s;
  z-index: 1000;
}

#fireworks {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.memories {
  height: 300vh;
  background: black;
  position: relative;
}

.memory {
  position: absolute;
  max-width: 80%;
  opacity: 0;
  transition: 1s;
}

.game {
  height: 200vh;
  background: black;
  color: white;
  text-align: center;
}

#gameArea {
  position: relative;
  height: 80vh;
}

.falling-heart {
  position: absolute;
  top: -30px;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  animation: fallHeart 4s linear;
}

@keyframes fallHeart {
  to { transform: translateY(90vh); }
}

.final {
  height: 100vh;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 100px;
}
